<%- include('../partials/header') %> 
<p>Welcome to <%= title %></p>
<table id='list'>
    <thead>
      <tr>
        <th>AIRPORT</th>
        <th>AIRLINE</th>
        <th>FLIGHT NUMBER</th>
        <th>DEPARTURES</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach((f) => { %>
        <tr>
          <td><%= f.airport %></td>
          <td><%= f.airline %></td>
          <td><%= f.flightNo %></td>
          <td><%= f.departs %></td>
          <td><a href="/flights/<%= f._id %>"> FLIGHT DETAILS</a></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<%- include('../partials/footer') %> 